:root{
    --dark-cyan: #015249;
    --soft-cyan: #77C9D4;
    --cyan: #57BC90;
    --gray: #A5A5AF;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}

body {
    display: grid;
    grid-template-rows: 80px auto 40px auto 60px;
}

a {
    color: white;
    list-style: none;
    text-decoration: none;
}

a::after{
    color: white;
    text-decoration: none;
}

header {
    display: grid;
    grid-template-columns: 60px 4fr 1fr;
    width: 100vw;
    background-color: var(--dark-cyan);
}

.menu {
    display: grid;
    place-items: center;
}

.material-icons.md-36 {
    font-size: 36px;
}

.gremio {
    display: grid;
    place-items: center;
    text-align: center;
}

.gremio-logo {
    display: grid;
    place-items: center;
    text-align: center;
    min-width: 60px;
}

.gremio-logo img {
    width: 52px;
    height: auto;
}

main {
    display: grid;
    width: 100vw;
    height: auto;
    grid-template: auto 1fr / 1fr;
    place-items: center;
}

.botones {
    display: grid;
    width: 100vw;
    height: auto;
    margin-top: 10px;
    padding: 0 10px;
    grid-template-columns: repeat(auto-fit, 90px);
    grid-gap: 10px;
    place-content: center;
}

.boton {
    width: 90px;
    height: 20px;
    background-color: var(--cyan);
    border: black 1px;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
}

.Armadura-contenedor {
    display: grid;
    width: 100vw;
    height: 450px;
    grid-gap: 20px;
}

.Armadura {
    display: grid;
    width: 100vw;
    height: min-content;
    margin-top: 20px;
    padding: 0 30px;
    grid-template: 30px repeat(4,1fr) / repeat(2,1fr);
    grid-gap: 15px;
    justify-items: center;
}

.Armadura-Nombre {
    font-size: 2rem;
    font-style: bold;
    color: black;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

.parte {
    display: grid;
    width: 100%;
    height: 100%;
    min-width: 110px;
    min-height: 80px;
    background-color: var(--gray);
    grid-template: 1fr 3fr / auto 60px;
    place-items: center;
    border-radius: 10px;
}

.seccion {
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    text-align: center;
}

.nombre {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    font-size: 1.3rem;
    text-align: center;
}

.imagen{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.imagen img{
    width: 50px;
    height: 50px;
}


.investigacion,
.caceria,
.ataque-mix,
.ataque-lvl60 {
    display: none;
}

hr {
    width: 80%;
    height: 1px;
    place-self: center;
}

.Tarjeta {
    display: grid;
    margin-bottom: 20px;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-gap: 10px;
    place-content: center;
}

.Tarjeta-contenedor {
    display: grid;
    width: 250px;
    height: 100px;
    padding: 0 30px;
    grid-template-columns: 1fr 3fr;
    place-items: center;
    border-radius: 25px;
    background-color: var(--soft-cyan);
    color: black;
}

.Tarjeta-contenedor::after {
    color: black;
}

.Tarjeta-logo {
    display: grid;
    width: 100%;
    height: 100%;
    place-items: center;
}

.Tarjeta-logo img{
    width: 75px;
    height: 75px;
}

.Tarjeta-contenedor p {
    font-size: 2rem;
}

.link-caceria {
    display: none;
}
footer {
    display: grid;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    grid-template-columns: 38px 38px auto;
    grid-gap: 8px;
    align-self: end;
    align-items: center;
    background-color: var(--dark-cyan);
    font-size: 1.4rem;
}

.redSocial {
    display: grid;
    justify-self: center;
    justify-items: start;
    min-width: 38px;
}

.material-icons.telegram, .material-icons.discord {
    font-size: 36px;
}

.Agradecimiento {
    justify-items: right;
    font-size: 1.4rem;
    text-align: right;
    vertical-align: middle;
}